{% extends 'main_page.html' %}
{% block content %}
    <div class="row myform" style="--bs-gutter-x: 0;">
        <div class="col-sm-6">
            <form method="post">
                {% csrf_token %}
                <div id="form_step" style="text-align: center; margin-top: 5vh;" class="">
                    <h1>Podstawowe informacje</h1>
                    <input class="form-control" type="file" name="photo">
                    <input class="form-control" type="text" name="name" placeholder="imie">
                    <input class="form-control" type="text" name="last_name" placeholder="Nazwisko">
                    <input class="form-control" type="text" name="city" placeholder="miasto">
                    <input class="form-control" type="text" name="street" placeholder="ulica">
                    <input class="form-control" type="text" name="stanowisko" placeholder="stanowisko">
                    <input class="form-control" type="text" name="email" placeholder="email">
                    <input class="form-control" type="text" name="phone_number" placeholder="Numer telefonu">
                    <li style="background-color: green; cursor:pointer" class="form-control" id="form_step_next">Dalej
                    </li>
                </div>
                <div id="form_step" style="text-align: center; margin-top: 5vh;" class="d-none">
                    <h1>O mnie</h1>
                    <input class="form-control" type="text" name="link" placeholder="link">
                    <textarea class="form-control" name="about_me" rows="4" cols="50"></textarea>
                    <li style='background-color: coral; cursor:pointer' class="form-control" id="form_step_back">
                        Wstecz
                    </li>
                    <li style="background-color: green; cursor:pointer" class="form-control" id="form_step_next">Dalej
                    </li>
                </div>
                <div id="form_step" style="text-align: center; margin-top: 5vh;" class="d-none">
                    <h1>Doświadczenie</h1>
                    <input class="form-control" type="text" name="company" placeholder="Nazwa firmy">
                    <input class="form-control" type="text" name="function" placeholder="Stanowisko">
                    <input class="form-control" type="date" name="started">
                    <input class="form-control" type="date" name="ended">
                    <textarea class="form-control" name="description" rows="4" cols="50">Opis</textarea>
                    <li style='background-color: coral; cursor:pointer' class="form-control" id="form_step_back">
                        Wstecz
                    </li>
                    <li style="background-color: green; cursor:pointer" class="form-control" id="form_step_next">Dalej
                    </li>
                </div>
                <div id="form_step" style="text-align: center; margin-top: 5vh;" class="d-none">
                    <h1>Edukacja</h1>
                    <input class="form-control" type="text" name="school" placeholder="Szkoła">
                    <input class="form-control" type="text" name="degree" placeholder="Poziom">
                    <input class="form-control" type="date" name="started">
                    <input class="form-control" type="date" name="ended"><br>
                    <li style='background-color: coral; cursor:pointer' class="form-control" id="form_step_back">
                        Wstecz
                    </li>
                    <li style="background-color: green; cursor:pointer" class="form-control" id="form_step_next">Dalej
                    </li>
                </div>
                <div id="form_step" style="text-align: center; margin-top: 5vh;" class="d-none">
                    <h1>Umiejętności</h1>
                    <input class="form-control" type="text" name="skill" placeholder="np. Python">
                    <li style='background-color: coral; cursor:pointer' class="form-control" id="form_step_back">
                        Wstecz
                    </li>
                    <button style="background-color: green" class="form-control" type='submit' id="form_step_next">
                        Dalej
                    </button>
                </div>
            </form>
        </div>

        <div style="text-align: center;" class="col-sm-6 cvsee">
            <h1> Podgląd </h1>
            <div style="margin: auto; width: 80%; height: 100vh; background-color: green">
                <div class="row" style="--bs-gutter-x: 0; height: 10vh;">
                    {#                    Left side#}

                    <div style="margin-top: 2vh;" class="col-4">
                        <div style="margin: auto; height: 8vh; background-color: red;"> Picture</div>
                    </div>
                    {#                      Right side#}
                    <div style="margin-top: 2vh;" class="col-8">
                        <div style="height: 100%">
                            <h1>Wiktor Karaszewicz</h1>
                            <h2> Stanowisko</h2>
                        </div>
                    </div>
                </div>
                <div class="row" style="--bs-gutter-x: 0; height: 10vh; margin-top: 2vh;">
                    <div style="margin-top: 2vh;" class="col-4">
                        <div style="text-align: left">
                            <h2> Contact </h2>
                            <span> Kanie , 05-805 Polska</span><br>
                            <span> Telefon: 42124124</span><br>
                            <span> wkaraszewicz@gmail.com</span><br>
                        </div>
                        <div style="text-align: left; margin-top: 4vh;">
                            <h3> EDUCATION </h3>
                        </div>
                        <div style="text-align: left; margin-top: 3vh;">
                            <h3> PORTFOLIO, WEBSITES</h3>
                        </div>
                        <div style="text-align: left; margin-top: 3vh;">
                            <h3> CERTIFICATIONS </h3>
                        </div>
                        <div style="text-align: left; margin-top: 3vh;">
                            <h3> LANGUAGES</h3>
                        </div>
                    </div>
                    <div style="margin-top: 2vh;" class="col-8">
                        <div>
                            <h3> PROFESIONAL SUMMARY</h3>
                        </div>
                        <div style="text-align: left">
                            <h3>SKILLS</h3>
                        </div>
                        <div style="text-align: left">
                            <h3>WORK HISTORY</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}