{% extends 'main_page.html' %}
{% block content %}
    <div class="row myform">
        <div style="text-align: center" class="col-sm-6">
            <h1>Krok Pierwszy</h1>
            <input type="file" name="photo"><br>
            <input type="text" name="name" placeholder="imie"><br>
            <input type="text" name="last_name" placeholder="Nazwisko">
            <input type="text" name="city" placeholder="miasto">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="phone_number" placeholder="Numer telefonu">
        </div>
        <div style="text-align: center" class="col-sm-6">
            <h1> Podgląd </h1>
        </div>
    </div>
{% endblock %}